<div class="container" *ngIf="state.state">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="mb-3">
            <label for="password" class="form-label mt-2">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" #txtPassword>
            <label for="passwordConfirm" class="form-label mt-2">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirm"  placeholder="Password Confirm" #textPasswordConfirm>
            <button type="button" class="btn btn-dark d-flex justify-content-end mt-2" (click)="updatePassword(txtPassword.value,textPasswordConfirm.value)">Update Password</button>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!state.state">
  Bu link kullanılmamaktadır.
</div>