<div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="mb-3">
            <label for="email" class="form-label mt-2">Email address</label>
            <input type="email" class="form-control" id="email" #txtEmail placeholder="name@example.com">
            <button type="button" (click)="passwordReset(txtEmail.value)" class="btn btn-dark d-flex justify-content-end mt-2">Send</button>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
</div>